body{
    font-family: 'Poppins', sans-serif;
    margin-left: 0%;
}


h1{
    font-size: 50px;   
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 44%;
    float:left;
    margin-left: 1%;
}
.half-width img{
    width:100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    height: 500px;
}
.link-button{
    text-decoration: none;
    font-weight: 700;
    border: 10px 20px;
    border-radius: 3px;
    background-image: linear-gradient( red, orange);
    <!-- background-image: linear-gradient(45deg, lightSalmon, tomato); -->
}
#mechanical{
    width: 50%;
    height:40%;
}
.half-circle{
    background-image: url(images/exp-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.dream-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    height: 300px;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height:80%;
    background-color: white;

}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    height:300px;
}
#maintenance{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, tomato);
    border-image-slice:1;
}
#production{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice:1;
}
footer p{
    text-align: center;
    font-weight: 200;
}